.main {
    width:980px;
    height:455px;
    margin-left:220px;
    margin-top:10px;
}
.focus {
    float:left;
    width: 721px;
    height: 455px;
    background-color:orange;
}
.newsflash {
    float:right;
    width: 250px;
    height: 455px;
    color:#666;
}
.news {
    height:165px;
    border:1px solid #e4e4e4;
}
.news-hd {
    height:33px;
    border-bottom:1px dotted #e4e4e4;
    line-height:33px;
    padding:0 15px;

}
.news-hd h5 {
    float:left;
    font-size:14px;

} 
.news-hd .more {
    float:right;
    font-size:12px;
}
.news-hd .more::after {
    content:'\e905';
    font-family:icomoon;
    font-size:12px;

}
.news-bd {
    padding:5px 15px 0;

}
.news-bd ul li {
    height:24px;
    line-height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.news-bd ul li a {
    font-size:12px;  
}
.lifeservice {
    overflow:hidden;
    height:209px;
    border:1px solid #e4e4e4;
    border-top:0;
}
.lifeservice ul {
    width:252px;
}
.lifeservice ul li {
    position:relative;
    float:left;
    width:63px;
    height:71px;
    border-right:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    text-align:center;
    font-size:12px;
}
.lifeservice ul li i {
    display:inline-block;
    width:24px;
    height:28px;
    margin-top:12px;
    background:url(../images/icons.png) no-repeat -19px -15px;

}
.bargain {
    margin-top:5px;
}
.hot {
    position:absolute;
    top:0;
    right:0;
    width:12px;
    height:15px;
    background:url(../upload/jian.jpg) no-repeat;
}
/* 推荐模块 */
.recom {
    height:163px;
    background-color:#ebebeb;
    margin-top:12px;
}
.recom-hd {
    float:left;
    width:205px;
    height:100%;
    background-color: #5c5251;
    text-align:center;
    padding-top:30px;
}
.recom-hd p {
    color:white;
    font-size:18px;
    margin-top:5px;
}
.recom-bd {
    float:left;

}
.recom-bd ul li {
    position:relative;
    float:left;
}
.recom-bd ul li img {
    width:248px;
    height:163px;
}
.recom-bd ul li:nth-child(-n+3)::after {
    position:absolute;
    right:0;
    top:10px;
    content:'';
    height:145px;
    width:1px;
    background-color:#dddddd;
}
.box-hd {
    height:30px;
    border-bottom:2px solid #c81623;
}
.box-hd h3 {
    float:left;
    font-size:18px;
    color:#c81623;
}
.tab_list {
    float:right;
    line-height:30px;
}
.tab_list ul li {
    float:left;
}
.tab_list ul li a {
    padding:5px 15px;
}
.floor .w {
    margin:30px auto;
}
.box-bd {
    height:361px;
    background-color:white;
}
.tab_list_item>div {
    float:left;
    height:361px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align:center;
    
}
.col_210 ul {
    padding-left:12px;
}
.col_210 ul li {
    float:left;
    width: 85px;
    height: 34px;
    margin-right:10px;
    border-bottom:1px solid #ccc;
}
.col_210 ul li a {
    font-size:12px;
    line-height: 33px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right:1px solid #ccc;
    font-size:0;

}
.col_219 {
    width: 219px;
    font-size:0;
    border-right:1px solid #ccc;

}

.bb {
    display:block; 
    /* 一般情况下，a下面包含了有宽度的盒子 ，则需要转换为块级元素。 */
    border-bottom: 1px solid #ccc;
}
